body{
    background-color: black;
    color: #fff;
    font-family: 'KoHo', sans-serif;
    font-weight: 300;
}

.cabecalho{
    height: 65px;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho img {
    height: 130px;
}

.cabecalho .menu{
    display: flex;
    gap: 30px;
}

.cabecalho .menu li a{
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

.cabecalho .menu li a:hover{
    color: rgb(64, 226, 175);
    border-bottom: 3px solid  rgb(64, 226, 175);
}

.home{
    display: flex;
    
}

.home .intro{
    background: rgb(0,255,209);
    background: linear-gradient(90deg, rgba(0,255,209,1) 0%, rgba(35,121,94,1) 36%, rgba(13,27,10,1) 100%);
    height: calc(100vh - 65px);
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    color: #000000;
    align-items: center;
    flex-direction: row; 
}

.home .intro .texto{
    width: 500px;
}

.home .intro .texto h1{
    font-size: 50px;
}

.home .intro .texto span{
    font-size: 70px;
    color: #ffffff;
}

.home .intro .texto p{
    font-size: 30px;
    font-weight: 700;
}

.home .intro a img{
    height: 70vh;
}

.sobre-mim{
    background-color: #292929;
    border-radius: 30px;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titulo{
    font-size: 50px;    
    display: flex;
    justify-content: center;
}

.sobre-mim p{
    font-size: 25px;
    text-align: justify;
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;
    padding: 50px;
}

.habilidades .lista-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    font-weight: 700;
    align-items: center;
}

.habilidades .lista-habilidades li{
    background-color: #292929;
    border-radius: 30px 30px 0 0;
    border-bottom: 3px solid  rgb(64, 226, 175);
    color: rgb(64, 226, 175);
    height: 250px;
    width: 250px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.habilidades .lista-habilidades li img{
    max-width: 120px;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos .lista-projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.projetos .lista-projetos .projeto{
    background-color: #292929;
    height: 800px;
    width: 600px;
    border-radius: 30px;
}

.projetos .lista-projetos .projeto .card-projeto{
    max-width: 600px;
    opacity: .7;
    border-radius: 30px 30px 0 0;
}    

.projetos .lista-projetos .projeto h3{
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.projetos .lista-projetos .projeto p{
    font-size: 30px;
    padding: 20px;
    text-align: justify;
}

.projetos .lista-projetos .container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    align-items: center;
}

.projetos .lista-projetos .container a img{
    max-width: 45px;
}

.projetos .lista-projetos .container a img:hover{
    background-color:  rgb(64, 226, 175) ;
    border-radius: 40px;
}

.projetos .lista-projetos .container .tecnologias{
    display: flex;
    gap: 30px;
}

.projetos .lista-projetos .container .tecnologias li{
    padding: 15px;
    font-weight: 700;
    font-size: 20px;
    background-color:  rgb(64, 226, 175);
    color: black;
    border-radius: 40px;
}

.projetos .btn-repositorio-git{
    background-color: #292929;
    border: 0,5px solid #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    width: 40%;
    transition: all .2s ease-in;
}

.btn-repositorio-git:hover{
    background-color:  rgb(64, 226, 175);
    color: #1F1F1F;
}

.contatos .caixa{
    display: flex;
    flex-direction: column;
    background-color: #292929;
    margin: 40px 20px;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    gap: 30px;
}

.contatos .caixa .container{
    display: flex;
    flex-direction: column;
}

.contatos .caixa .container ul li img{
    height: 70px;
}

.contatos .caixa .container .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    margin: 0 50px 0 0;
}

.contatos .caixa .container .lista-contatos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contatos .caixa .container .lista-contatos li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 1.8;
    border-radius: 10px;
    padding: 15px;
    transition: all .2s ease-in;
}

.contatos .caixa .container .lista-contatos li:hover{
    background-color:  rgb(64, 226, 175);
    color: #1F1F1F;
}

footer{
    font-size: 20px;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}