@media(max-width:1024){
    .cabecalho .menu{
        gap: 15px;
    }

    .cabecalho .menu li a{
        font-size: 20px;
    }

    .home .intro .texto h1{
        font-size: 60px;
    }
    
    .home .intro .texto span{
        font-size: 70px;
    }
    
    .home .intro .texto p{
        font-size: 30px;
    }
    
    .home .intro a img{
        width: 100vh;
    }

    .habilidades {
      width: 100w;
    }

}

@media(max-widht: 768px){

}