@media (max-width: 1024px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .cabecalho .icones{
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho .icones img {
        height: 65px;
    }
    
    .cabecalho .icones .btn-hamburguer{
        display: block;
        background-color: transparent;
        color:white;
        border: none;
        cursor: pointer;
    }
    
    .menu{
        display: none;
    }
   
    #mobileMenu{
        display: none;
    }

    .cabecalho .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu a{
        display: block;
        padding-top: 1.2rem;
        font-weight: 700;
        font-size: 20px;
    }

    
    
    
    
    
    
    
    
    
    .home .intro{
        height: 65vh;
    }

    .home .intro .texto{
        text-align: center;
    }
    
    .home .intro .texto h1{
        font-size: 35px;
    }

    .home .intro a img{
        height: 50vw;
    }
      
    .home .intro .texto span{
        font-size: 35px;
    }
    
    .home .intro .texto p{
        font-size: 20px;
    }
        
}

@media(max-widht: 768px){
    
}